.movie-link {
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-movie-container {
  background: rgba(0, 0, 0, 0.726);
  width: 80vw;
  height: 80vh;
  border: 0.16em solid white;
  border-radius: 10px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  transition: 1s all ease;
  z-index: 20;
  @media (max-width: 920px) {
    flex-direction: column;
    overflow-y: scroll;
  }
  .open-movie-title-container {
    flex: 0.5;
    display: flex;
    align-items: center;
    .open-movie-title {
      margin-left: 1em;
      margin-top: 1em;
    }
  }
  .open-movie-data-container {
    flex: 4;
    display: flex;
    flex-direction: row;
    @media (max-width: 920px) {
      flex-direction: column;
    }
    .open-movie-left-side-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3em;
      font-size: 1.2em;
      .open-movie-image {
        border: 2px solid white;
        border-radius: 10px;
      }
    }
    .open-movie-right-side-container {
      margin-right: 3em;
      font-size: 1.3em;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 920px) {
        margin-left: 3em;
      }
      .open-movie-imdbyt-container {
        display: flex;
        flex-direction: row;
        height: 3em;
        font-size: 1.4em;
        align-items: center;
        @media (max-width: 920px) {
          justify-content: center;
        }
        .imdb-container {
          margin-right: 2em;
        }
        .trailer-container {
          top: 0;
          left: 0;
          display: flex;
          width: 100vw;
          height: 100vh;
          position: fixed;
          justify-content: center;
          align-items: center;
          z-index: 10;
          .embeded-video {
            z-index: 10;
            width: 80%;
            height: 80vh;
            border: 0.16em white solid;
            border-radius: 10px;
            transition: 0.6s all ease;
          }
        }
      }
    }
  }
}
