.open-close-icon-container {
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 9;
  top: 5%;
  right: 5%;
  padding: 0;
  margin: 0;
  transition: 0.6s opacity ease;
  @media (max-width: 1230px) {
    top: 2%;
    right: 2%;
  }
}

.menu-container {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: white;
  padding: 0;
  margin-left: 3000px;
  transition: 0.6s all ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 1200px) {
    margin-left: 0;
    flex-direction: column-reverse;
    overflow: scroll;
  }
}
