.category-choice-container {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
  transition-property: visibility, opacity, height;
  transition-duration: 1s, 1s, 1s;
  transition-delay: 0s, 0s, 1s;
}
