.login-form-container,
.user-form-container {
  flex: 1;
  margin-left: 10em;
  opacity: 0;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 2em;
  transition: 0.6s all ease-in-out;
  @media (max-width: 1200px) {
    margin-left: 0;
    overflow-y: auto;
  }
  @media (max-height: 600px) {
    margin-top: 150px;
  }
  .login-form,
  .user-form {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    .input {
      padding-bottom: 2em;
      width: 90%;
    }
  }
  .user-form-submit {
    width: 90%;
  }
}
