.login-form-container,
.user-form-container {
  margin-left: 10em;
  opacity: 0;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 2em;
  transition: 0.6s all ease-in-out;
  .login-form,
  .user-form {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    .input {
      padding-bottom: 2em;
      width: 13em;
    }
  }
}
