.form-container {
  transition: opacity 1s;
  position: absolute;
  z-index: 6;
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  margin-top: 0.5em;
  h1 {
    font-size: 1em;
    letter-spacing: 4px;
    text-align: center;
    @media (max-width: 930px) {
      width: 600px;
      font-size: 0.6em;
    }
    @media (max-width: 600px) {
      width: 320px;
      font-size: 0.65em;
    }
    @media (max-width: 568px) {
      font-size: 0.5em;
    }
  }
  .form {
    border: 2px solid rgba(255, 255, 255, 0.151);
    padding: 2rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    @media (max-width: 930px) {
      flex-direction: column;
      padding: 2rem 5rem;
    }
    @media (max-height: 635px) {
      flex-direction: row;
    }
    @media (max-width: 568px) {
      flex-direction: column;
    }
    .category-select {
      position: relative;
      cursor: pointer;
      option {
        background: black;
      }
      @media (max-width: 930px) {
        width: 300px;
        margin-bottom: 30px;
      }
      @media (max-height: 635px) {
        width: 150px;
        margin-bottom: 0;
      }
      @media (max-width: 568px) {
        margin-bottom: 30px;
      }
    }
    .year-input {
      &::placeholder {
        color: white;
      }
      @media (max-width: 930px) {
        width: 300px;
        margin-bottom: 30px;
      }
      @media (max-height: 635px) {
        width: 150px;
        margin-bottom: 0;
      }
      @media (max-width: 568px) {
        margin-bottom: 30px;
      }
    }

    .find-button {
      padding: 0.7rem 4rem 0.7rem 4rem;
      background: transparent linear-gradient(103deg, #c53cd4 0%, #4626b3 100%)
        0% 0% no-repeat padding-box;
      border-radius: 8px;
      border: none;
      opacity: 1;
      color: black;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      transition: ease all 0.4s;
      border: 1.3px solid transparent;
      &:hover {
        border: 1.3px solid white;
        opacity: 0.7;
        color: white;
      }
      @media (max-height: 635px) {
        padding: 0.5rem 2rem;
      }
    }
  }
  .choice {
    font-size: 1.5rem;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.712);
    margin: 0 2rem;
    user-select: none;
    overflow: auto;
    &:focus {
      outline: none;
    }
  }
}
