.loading-title {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transition: 0.6s all ease;
  margin: 0;
  @media (max-width: 1000px) {
    font-size: 2em;
  }
  @media (max-width: 800px) {
    font-size: 1em;
  }
}
