.movies-listing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 1.3s ease-in-out;
  .movies-listing-title {
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
      1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 100%;
    font-size: 3em;
    margin-left: 2em;
  }
  .movies-listing {
    width: 80%;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 6px;
    z-index: 20;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 2em;
    @media (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }
    .movie {
      margin: 1em;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      color: white;
      .movie-image {
        cursor: pointer;
        border-radius: 10px;
      }
      .movie-title-container {
        display: flex;
        font-weight: 600;
        cursor: pointer;
        width: 200px;
        height: 3em;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .new-movies-form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    .form-container {
      display: flex;
      bottom: 0;
      justify-content: flex-end;
      height: auto;
      .choice {
        font-size: 1.3em;
      }
      h1 {
        display: none;
      }
      .form {
        opacity: 1;
        overflow: hidden;
        padding: 1.2em 5em;
        z-index: 5;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: none;
        border-radius: 10px 10px 0 0;
        .find-button {
          padding: 0.6rem 2rem 0.6rem 2rem;
          font-size: 1.2em;
        }
      }
    }
  }
}
