.movies-listing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .movies-listing-title {
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
      1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 100%;
    font-size: 3em;
    margin-left: 2em;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .movies-listing {
    width: 80%;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 6px;
    z-index: 20;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 2em;
    @media (max-width: 1800px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1230px) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 2em;
    }
    @media (max-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 1em 2em;
    }
    @media (max-width: 568px) {
      margin-top: 0;
      padding: 0;
    }
    .movie {
      margin: 1em;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      color: white;
      .movie-image {
        cursor: pointer;
        border-radius: 10px;
      }
      .movie-title-container {
        display: flex;
        font-weight: 600;
        cursor: pointer;
        width: 200px;
        height: 3em;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .new-movies-form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 0.5s ease all;
    .form-container {
      display: flex;
      bottom: 0;
      justify-content: flex-end;
      height: auto;
      .choice {
        font-size: 1.3em;
      }
      h1 {
        display: none;
      }
      .form {
        opacity: 1;
        overflow: hidden;
        padding: 1.2em 5em;
        z-index: 5;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: none;
        border-radius: 10px 10px 0 0;
        .find-button {
          padding: 0.6rem 2rem 0.6rem 2rem;
          font-size: 1.2em;
        }
      }
    }
  }
}
.movie-detail-container {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(20px);
  z-index: 50;
  position: absolute;
  display: flex;
  justify-content: center;
  transition: 0.3s all ease;
  align-items: center;
}

.close-button {
  color: white;
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 2em;
  z-index: 100;
  cursor: pointer;
  @media (max-width: 920px) {
    top: 5px;
    right: 5px;
  }
}
.choose-new-movie {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  span {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
      1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }
  @media (max-width: 930px) {
    display: flex;
  }
}
