.menu-data-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15%;
  .login-open,
  .signup-open,
  .menu-title {
    cursor: pointer;
    display: inline;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: black;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      &::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  .login-open,
  .signup-open {
    font-size: 2em;
    margin-bottom: 2em;
  }
  .menu-title {
    font-size: 4em;
  }
}
